h1, p{
    text-align: center;
}

h1{
    font-family: 'Ephesis', cursive;
}
p{
    font-family: 'Ubuntu', sans-serif; 
    font-size: 15px;
}

img{
    width: 100%;
}
.noget-tekst p{
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    line-height: 1.6;
    padding-bottom: 40px;
}

.noget-tekst{
    background-color: rgb(255, 191, 191);
    border: 4px solid;
    border-radius: 9px;
    margin-bottom: 20px;
}

.idk{
    margin-bottom: 20px;
}